@media screen and (max-width :"600PX"){
.firstsection{
    height: 520px;
}
.first-section-left{
    width: 60%;
}
.first-section-right{
    width: 50%;
}
.linkholder{
    flex-direction: column;
}
.logotext{
    margin-bottom: 20px;
}
.heading{
    font-size: 25px;
}
.link-holder h4{
    margin-bottom: 20px;
}
.secondsection{
    margin-bottom: 20px;
}
.secondsection-right{
    margin-left: 20px;
    margin-bottom: 50px;
}
.third-section{
    gap: 20px;
}

}
