/* first section styles starts here */

body{
    background-color: rgb(243, 233, 233);
    margin: 0%;
    
}

.firstsection{
    height: 480px;
    display: flex;

}

.first-section-right{
 width:40%;
 height: 100%;
 background:  url(neat-house\ 7.jpg) ;
 background-position: bottom right;
 background-size: cover;
}
.first-section-left{
    padding-left: 30px ;
    background: rgba(216, 212, 212, 0.918);
    width: 60%;
    height: 100%;
}
span{
    color: red;
}
.logotext{
    margin-bottom: 10px;
}
.line{
    height: 10px;
    width: 70px;
    background: rgb(243, 104, 53);
}
.Link-holder{  
    color:white;
    display: flex;
    justify-content: space-between;
}
/* first section styles ends here */
  
/* first section styles starts here */
.secondsection{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    padding-bottom: 80%;

  

}
.secondsection-right{
    background: #D9D9D9;
    width: 280px ;
    height: 350px;
    margin-right: 20px;
    padding: 30px 20px;
    gap: 50%;
    
    
}

.secondsection-left{
    width: 340px;
    height: 460px;
    text-align: center;
    
}
img{
    width: 100%;
    height: 100%;
}
/* .MEANS{
border: 3px solid purple;
color: red;
margin-top: 37%;
margin-right: 10%;
justify-content: left ; */

    


/* first section styles ends here */

/* third section styles starts here */
.third-section{
    background: #D9D9D9;
    border: 3px solid black;
    height:500px ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 50% 0%; */
    

}
.third-section-right{
    height:400px;
    width: 360px;
    background:  url(neat-house\ 3.jpg) ;
    background-position: bottom right;
    background-size: cover;

}
.third-section-left{
    height:400px;
    width: 360px;
    background: tomato;
    padding-left: 25px;
    padding: 20px 20px; 
}
/* third section styles ends here */
/* footer section styles ends here */
.footer-icon{
    border: 3px solid tomato;
    width: 20%;
    height: 100%;
}
/* footersection styles ends here */
